body {
    background-color: #ffffe8;
    font-family: Arial, sans-serif;
}

header{
    border-bottom: 2px solid #00b300;
    margin-bottom: 20px;
}


div .img {
    width: auto;
    max-width: 50px;
    height: auto;
    max-height: 50px;
}

header h1 {
    color: #00b300;
    font-size: 24px;
}

div h1 {
    color: #00b300;
    font-size: 17px;
}

.sidebar {
    border-right: 2px solid #00b300;
    padding: 20px;
}

.sidebar ul {
    padding: 0;
}

.sidebar li {
    margin-bottom: 20px;
}

.sidebar a {
    color: #00b300;
    display: flex;
    align-items: center;
}

.sidebar .avatar {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.sidebar .text{
    font-size: 20px;
    margin-top: 8px;
}

.content {
    padding: 20px;
}

.chat {
    height: 400px;
    overflow-y: auto;
    border: 2px solid #00b300;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.chat-section {
    height: 500px; 
    overflow-y: auto;
}

.message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    max-width: 75%;
    width: auto;
    word-wrap: break-word;
    display: inline-block;
}

.from-user {
    background-color: #0000ff;
    color: #fff;
    align-self: flex-end;
}

.from-other {
    background-color: #00b300;
    color: #fff;
    align-self: flex-start;
}

footer {
    border-top: 2px solid #00b300;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.footer-link {
    color: #00b300;
    text-decoration: none;
}

.calendario-semanal {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.calendario-semanal th, .calendario-semanal td {
    border: 2px solid #00b300;
    padding: 10px;
}

.calendario-semanal th {
    background-color: #ffffe8;
}

.calendario-semanal td {
    text-align: center;
}

.logo {
    width: 90px;
    height: 100px;
}

.upload-section {
    background-color: #f8f9fa;
    border: 2px solid #00b300;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.upload-section h2 {
    color: #00b300;
    margin-bottom: 20px;
}

/* Adicione estas regras ao seu arquivo style.css */

#message-form {
    display: flex;
    margin-top: 20px;
}

#message-input {
    flex: 1;
    padding: 10px;
    border: 2px solid #00b300;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
}

#message-input:focus {
    outline: none;
}

#message-input::placeholder {
    color: #888;
}

#message-input:focus::placeholder {
    color: transparent;
}

#message-form button {
    background-color: #00b300;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 16px;
}

#message-form button:hover {
    background-color: #008c00;
}
