body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

button {
  background-color: #37ff00;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#data {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}
