body {
  background-color: #d4edda;
}

.card {
  border: 1px solid #28a745;
}

.card-title {
  color: #155724;
}

.btn-primary {
  background-color: #28a745;
  border-color: #28a745;
}

.btn-primary:hover {
  background-color: #218838;
  border-color: #1e7e34;
}

header {
  background-color: #28a745; /* Fundo verde */
  color: #fff;
}

footer {
  background-color: #28a745; /* Fundo verde */
  color: #fff;
}
